<html>
<!DOCTYPE html>
<lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div ><img class="logo" src="./assets\img\Group 1 (1).png" alt=""></div>
            <div class="text">Good Morning, Rama</div>
            <div> <button class="login"><img class="imglogin" src="./assets\img\logout-circle-line.png" alt="Logout"><span>Logout</span></button></div>
        </div>
        <div class="mediatext">Good Morning, Rama</div>

        <div>
            <div class="classTxt">Classes For Today</div>
            <div class="item">
                <div class="frnticon"><h1>1</h1></div>
                <div class="inside">
                    <h2>BCA - I</h2>
                    <p>Data structure and Algorithm</p>
                </div>
                <div class="icon"><img src="./assets\img\arrow-circle-down.png" alt=""></div>
            </div>
            <div class="item">
                <div class="frnticon"><h1>1</h1></div>
                <div class="inside">
                    <h2>BCA - I</h2>
                    <p>Data structure and Algorithm</p>
                </div>
                <div class="icon"><img src="./assets\img\arrow-circle-down.png" alt=""></div>
            </div>
            <div class="item">
                <div class="frnticon"><h1>1</h1></div>
                <div class="inside">
                    <h2>BCA - I</h2>
                    <p>Data structure and Algorithm</p>
                </div>
                <div class="icon"><img src="./assets\img\arrow-circle-down.png" alt=""></div>
            </div>
        </div>
                <div class="content">
                    <div class="sideicon">
                        <div class="classTxt">My Department</div>
                        <div class="plusicon"><img class="plusimg" src="./assets\img\plus.png" alt=""></div>
                    </div>
            <div class="item">
                <div class="frnticon"><h1>1</h1></div>
                <div class="inside">
                    <h2>BCA - I</h2>
                    <p>Data structure and Algorithm</p>
                </div>
                <div class="icon"><img src="./assets\img\arrow-circle-down.png" alt=""></div>
            </div>
            <div class="item">
                <div class="frnticon"><h1>1</h1></div>
                <div class="inside">
                    <h2>BCA - I</h2>
                    <p>Data structure and Algorithm</p>
                </div>
                <div class="icon"><img src="./assets\img\arrow-circle-down.png" alt=""></div>
            </div>
            <div class="item">
                <div class="frnticon"><h1>1</h1></div>
                <div class="inside">
                    <h2>BCA - I</h2>
                    <p>Data structure and Algorithm</p>
                </div>
                <div class="icon"><img src="./assets\img\arrow-circle-down.png" alt=""></div>
            </div>
        </div>
    </div>
    
</body>
</html>



